<div class="sidebar">
  <div class="book-callout">
    <img src="/assets/img/loops-book-cover.png" class="img-fluid w-50" alt="Loops - Building Products with Clarity & Confidence"/>
    <h6>We Wrote the Book On It</h6>
    <p>Loops is the practical guide you need to get products out of your mind&rsquo;s eye and into the real world.</p>
    <p class="subtle">Paperback, Kindle, &amp; Audiobook</p>
    <a href="https://loopsbook.com" target="_blank">Buy Now</a>
  </div>
  <form action="#" id="search" class="sidebar-search">
    <div class="form-row">
      <div class="col-9">
        <label for="search-input">Search</label>
        <input type="search" id="search-input" placeholder="Search for anything...">
      </div>
      <div class="col-3">
        <button type="submit">Search</button>
      </div>
    </div>
  </form>
  <h6>Recent Articles:</h6>
  <ul>
    <li><a href="#">The Perpetual Validation Loop</a></li>
    <li><a href="#">The Power of a Customer Advisory Council</a></li>
    <li><a href="#">What Makes a Healthy Design Team Healthy?</a></li>
    <li><a href="#">Do you *really* understand your User Journey?</a></li>
    <li><a href="#">Don&rsquo;t Build a MVP!</a></li>
  </ul>
  <h6>Topics:</h6>
  <ul>
    <li><a href="#">Business Innovation (18)</a></li>
    <li><a href="#">Product Strategy (9)</a></li>
    <li><a href="#">Customer Insights (3)</a></li>
    <li><a href="#">User Experience Design (15)</a></li>
    <li><a href="#">Product Prototyping (12)</a></li>
    <li><a href="#">User Interface Design (11)</a></li>
    <li><a href="#">Design Systems (11)</a></li>
    <li><a href="#">Increased Revenue (11)</a></li>
    <li><a href="#">Reduced Costs (11)</a></li>
    <li><a href="#">Increased Satisfaction (11)</a></li>
    <li><a href="#">Improved Processes (11)</a></li>
    <li><a href="#">Improved Usability (11)</a></li>
  <ul>
</div>
