<div class="col-sm-12 col-md-3 sidebar">
  <form action="#" id="search" class="form-inline mb-3">
    <label class="sr-only" for="search-input">Search</label>
    <input type="text" class="form-control form-control-sm mr-sm-2" id="search-input" placeholder="Search for anything...">
    <button type="submit" class="btn btn-sm btn-outline-secondary">Search</button>
  </form>
  <h6>Recent Articles:</h6>
  <ul>
    <li><a href="#">Link To Article</a></li>
    <li><a href="#">Link To Article</a></li>
    <li><a href="#">Link To Article</a></li>
    <li><a href="#">Link To Article</a></li>
    <li><a href="#">Link To Article</a></li>
  </ul>
  <h6>Topics:</h6>
  <ul>
    <li><a href="#">Business Innovation (18)</a></li>
    <li><a href="#">Product Strategy (9)</a></li>
    <li><a href="#">Customer Insights (3)</a></li>
    <li><a href="#">User Experience Design (15)</a></li>
    <li><a href="#">Product Prototyping (12)</a></li>
    <li><a href="#">User Interface Design (11)</a></li>
    <li><a href="#">Design Systems (11)</a></li>
    <li><a href="#">Increased Revenue (11)</a></li>
    <li><a href="#">Reduced Costs (11)</a></li>
    <li><a href="#">Increased Satisfaction (11)</a></li>
    <li><a href="#">Improved Processes (11)</a></li>
    <li><a href="#">Improved Usability (11)</a></li>
  <ul>
</div>
