<div class="client-logos">
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/UPS-150x150.png" alt="UPS" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/DeltaAirLines-150x150.png" alt="Delta Air Lines" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/IHG-150x150.png" alt="Intercontinental Hotel Group" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/CircleK-150x150.png" alt="Circle K" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/Pirelli-150x150.png" alt="Pirelli" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/CNN-150x150.png" alt="CNN" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/Fiserv-150x150.png" alt="Fiserv." /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/TheHomeDepot-150x150.png" alt="The Home Depot" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/CPJ-150x150.png" alt="Committee to Protect Journalists" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/JBB-150x150.png" alt="Jaros Baum & Bolles" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/CINCSystems-150x150.png" alt="CINC Systems" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/TheListInc-150x150.png" alt="The List Inc" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/TT-150x150.png" alt="Thornton Tomasetti" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/UGA-150x150.png" alt="University of Georgia" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/EngageVentures-150x150.png" alt="Engage Ventures" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/Evident-150x150.png" alt="Evident ID" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/Impetus-150x150.png" alt="Impetus" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/CityofAtlanta-150x150.png" alt="City of Atlanta" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/Coca-Cola-150x150.png" alt="Coca-Cola" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/Emory-150x150.png" alt="Emory University" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/ATDC-150x150.png" alt="ATDC " /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/Sudu-150x150.png" alt="Sudu" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/Spinrilla-150x150.png" alt="Spinrilla" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/SteinInvestment-150x150.png" alt="Stein Investment" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/CortlandPartners-150x150.png" alt="CortlandPartners" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/ShadowVentures-150x150.png" alt="Shadow Ventures" /></div>
  <div class="col"><img src="https://www.ninelabs.com/hubfs/logos/Swiftpage-150x150.png" alt="Swiftpage ACT" /></div>
</div>
