<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/assets/img/ninelabs-logo-pink.png" height="36px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="/services/" class="nav-link{% if page.url == "/demo/services.html" %} active{% endif %}">Services</a></li>
          <li class="nav-item"><a href="/process/" class="nav-link">Process</a></li>
          <li class="nav-item"><a href="/outcomes/" class="nav-link">Outcomes</a></li>
          <li class="nav-item"><a href="/insights/" class="nav-link{% if page.url == "/demo/blog.html" %} active{% endif %}">Insights</a></li>
          <li class="nav-item"><a href="/clients/" class="nav-link">About You</a></li>
        </ul>
        <a href="/connect/" class="btn btn-sm btn-primary" type="button">Let&rsquo;s Talk</a>
      </div>
    </div>
  </nav>
</header>
