<div class="masthead-image" style="background-image:url(/assets/img/travel-user-experience-design.jpg)">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="masthead-content">
          <div class="highlight-bar"></div>
          <h1>Delivering Business Outcomes that Matter</h1>
          <p>Are your teams delivering web and mobile experiences that delight your customers and maximize business value? Get the best thinking from startups and enterprises to give your projects the support they need to succeed.</p>
          <a href="...">Find Out How</a>
        </div>
      </div>
    </div>
  </div>
</div>
