<div class="article-preview card">
  <a href="#">
    <img src="/assets/img/blog.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h6 class="card-title">Title of the Article</h6>
      <span class="pub-info">September 30, 2019 // 7 min read</span>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dicta officiis tenetur quas unde, at assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      </div>
    </div>
  </a>
</div>
