<div class="client-bar">
  <div class="row">
    <div class="col text-center">
      <h6>Serving World-Class Organizations Like</h6>
      <hr />
      <img src="/assets/img/logos/delta-air-lines-150.png" class="img-fluid" />
      <img src="/assets/img/logos/ihg-150.png" class="img-fluid" />
      <img src="/assets/img/logos/ups-150.png" class="img-fluid" />
      <img src="/assets/img/logos/circlek-150.png" class="img-fluid" />
      <img src="/assets/img/logos/coca-cola-150.png" class="img-fluid" />
      <img src="/assets/img/logos/state-of-georgia-150.png" class="img-fluid" />
      <img src="/assets/img/logos/pirelli-150.png" class="img-fluid" />
      <hr />
    </div>
  </div>
</div>
