<footer>
  <div class="container">
    <div class="row">
      <div class="info-group">
        <h6>Services</h6>
        <ul>
          <li><a href="/services/#business-innovation">Business Innovation</a></li>
          <li><a href="/services/#product-strategy">Product Strategy</a></li>
          <li><a href="/services/#customer-insights">Customer Insights</a></li>
          <li><a href="/services/#user-experience-design">User Experience Design</a></li>
          <li><a href="/services/#product-prototyping">Product Prototyping</a></li>
          <li><a href="/services/#user-interface-design">User Interface Design</a></li>
          <li><a href="/services/#design-systems">Design Systems</a></li>
        </ul>
      </div>
      <div class="info-group">
        <h6>Outcomes</h6>
        <ul>
          <li><a href="/outcomes/#revenue">Increased Revenue</a></li>
          <li><a href="/outcomes/#savings">Reduced Costs</a></li>
          <li><a href="/outcomes/#satisfaction">Increased Satisfaction</a></li>
          <li><a href="/outcomes/#process">Improved Processes</a></li>
          <li><a href="/outcomes/#usability">Improved Usability</a></li>
        </ul>
      </div>
      <div class="info-group">
        <h6>Company</h6>
        <ul>
          <li><a href="/insights/">Latest Insights</a></li>
          <li><a href="/process/">Our Process</a></li>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/newsletter/">Newsletter</a></li>
          <li><a href="/designdriven/">Podcast</a></li>
          <li><a href="https://loopsbook.com">Book</a></li>
        </ul>
      </div>
      <div class="info-group">
        <h6>Offices</h6>
        <p><strong>Atlanta</strong><br>1040 W. Marietta Street NW<br>Atlanta, GA 30318</p>
        <p><strong>New York</strong><br>222 Broadway, 19th Floor<br>New York, NY 10038</p>
        <p><strong>Amsterdam</strong><br>Weteringschans 165 C<br>1017 XD Amsterdam</p>
      </div>
    </div>
  </div>
  <div class="subfooter">
    <p>All content &copy; Novelaboratori, LLC unless otherwise noted // <a href="">Privacy Policy</a></p>
    <div class="social-stack">
      <a href="https://www.twitter.com/ninelabs" class="fa-stack icon-twitter" target="_blank"><span class="sr-only">Twitter</span><i class="fab fa-twitter mono fa-stack-1x fa-inverse"></i></a>
      <a href="https://www.linkedin.com/company/nine-labs/" class="fa-stack icon-linkedin" target="_blank"><span class="sr-only">Linkedin</span><i class="fab fa-linkedin mono fa-stack-1x fa-inverse"></i></a>
      <a href="https://www.instagram.com/ninelabs" class="fa-stack icon-instagram" target="_blank"><span class="sr-only">Instagram</span><i class="fab fa-instagram mono fa-stack-1x fa-inverse"></i></a>
    </div>
  </div>
</footer>
