<div class="topic-container">
  <div class="row">
    <div class="topic-image" style="background-image: url(/assets/img/stock.jpg)"></div>
    <div class="topic-content">
      <div class="highlight-bar"></div>
      <h2>Customer Insights</h2>
      <h6>How well do you know your customers’ wants, needs, fears, and desires?</h6>
      <p>These basic psychological forces drive every decision people make, including whether to use your products. Understanding them is critical to building web & mobile apps people love to use.</p>
      <p>User research is invaluable when you're planning to improve your products or simply gauge users' interest in new ideas before spending money on development. You know - measure twice, cut once.</p>
      <p>Through a better understanding of your users we can help you improve existing products, generate new concepts, and spark innovation.</p>
      <div class="related-actions">
        <a href="">User Research</a>
        <a href="">Empathy Mapping</a>
        <a href="">User Journeys</a>
        <a href="">User Task Outlines</a>
        <a href="">Usability Testing</a>
      </div>
    </div>
  </div>
</div>
