<div class="client-bar">
  <div class="row">
    <div class="col text-center">
      <h6>Serving World-Class Organizations Like</h6>
      <hr />
      <img src="https://www.freepnglogos.com/uploads/delta-png-logo/delta-airlines-logo-png-0.png" />
      <img src="https://www.ninelabs.com/hubfs/logos/ihg-150.png" class="img-fluid" />
      <img src="https://www.ninelabs.com/hubfs/logos/ups-150.png" class="img-fluid" />
      <img src="https://www.ninelabs.com/hubfs/logos/circlek-150.png" class="img-fluid" />
      <img src="https://www.ninelabs.com/hubfs/logos/coca-cola-150.png" class="img-fluid" />
      <img src="https://www.ninelabs.com/hubfs/logos/state-of-georgia-150.png" class="img-fluid" />
      <img src="https://www.ninelabs.com/hubfs/logos/pirelli-150.png" class="img-fluid" />
      <hr />
    </div>
  </div>
</div>
