<div class="client-bar">
  <div class="row">
    <div class="col">
      <h6>Serving World-Class Organizations Like</h6>
      <hr />
      <img src="/assets/img/logos/delta-150.png" alt="Delta Air Lines" />
      <img src="/assets/img/logos/ihg-150.png" alt="Intercontinental Hotel Group" />
      <img src="/assets/img/logos/ups-150.png" alt="UPS Digital" />
      <img src="/assets/img/logos/circlek-150.png" alt="Circle K" />
      <img src="/assets/img/logos/state-of-georgia-150.png" alt="State of Georgia" />
      <img src="/assets/img/logos/pirelli-150.png" alt="Pirelli Motorsports" />
      <img src="/assets/img/logos/coca-cola-150.png" alt="Coca-Cola Digital" />
      <hr />
    </div>
  </div>
</div>
