<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="/examples.html"><svg width="36px" height="36px" viewBox="0 0 400 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Solo-Mark" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Group" transform="translate(57.000000, 53.000000)" fill="#F280B1">
        <rect id="Rectangle" x="180" y="20" width="93" height="255" rx="46.5"></rect><rect id="Rectangle" x="21" y="20" width="93" height="255" rx="46.5"></rect>
        <path d="M147.026465,-12.3715371 L147.813375,-12.3749548 C173.409938,-12.4861266 194.250175,8.1738651 194.361347,33.7704282 C194.362167,33.9593115 194.361833,34.1481982 194.360344,34.3370775 L192.575638,260.729002 C192.379041,285.667505 172.543735,306.010376 147.618158,306.836899 L145.977005,306.891319 C121.358285,307.707666 100.739088,288.41203 99.9227409,263.793309 C99.9046158,263.246708 99.896546,262.699819 99.8985357,262.152921 L100.728731,33.9588533 C100.821635,8.4225974 121.490281,-12.2606275 147.026465,-12.3715371 Z" id="Rectangle" style="mix-blend-mode: multiply;" transform="translate(147.130012, 147.270447) rotate(-45.000000) translate(-147.130012, -147.270447) "></path>
      </g></g></svg></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="/services/" class="nav-link{% if page.url == "/demo/services.html" %} active{% endif %}">Services</a></li>
          <li class="nav-item"><a href="/outcomes/" class="nav-link">Outcomes</a></li>
          <li class="nav-item"><a href="/process/" class="nav-link">Process</a></li>
          <li class="nav-item"><a href="/work/" class="nav-link">Work</a></li>
          <li class="nav-item"><a href="/insights/" class="nav-link{% if page.url == "/demo/blog.html" %} active{% endif %}">Insights</a></li>
          <li class="nav-item"><a href="/clients/" class="nav-link">About You</a></li>
        </ul>
        <a href="/connect/" class="btn btn-sm btn-primary" type="button">Let&rsquo;s Talk</a>
      </div>
    </div>
  </nav>
</header>
