
.article-list {
  @extend .col-sm-12;
  @extend .col-md-8;

  .article-preview {
    display: block;
    @extend .mb-5;
    @extend .pb-3;

    border-bottom: 1px solid $gray-30;
    text-decoration: none;
    color: $gray-90;

    img {
      @extend .img-fluid;
      @extend .mb-3;
    }

    .article-title-link {
      font-family: "Fira Sans", helvetica, arial, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 27px;
      color: $gray-90;
      &:hover {
        color: $pink;
        text-decoration: underline;
      }
    }
  }
}

.article-masthead {
  @extend .container;
  @extend .mt-5;

  h1 {
    line-height: 1.15;
    @include media-breakpoint-down(md) {
      font-size:2.5rem;
    }
  }
}

.article-content {
  @extend .col-sm-12;
  @extend .col-md-8;

  .article-text {
    a {
      text-decoration: underline;
    }
    p:first-of-type {
      @extend .mb-4;
      font-size: 1.5rem;
    }
    &::after {
      content: "\02588";
      font-size: .75rem;
      color: $pink;
    }
  }
}
.article-meta {
  @extend .mt-5;
  @extend .py-2;
  border-top: 1px solid $gray-20;
}

.pub-info {
  display: block;
  font-size: .85rem;
  color: $gray-50;
}

.article-image {
  @extend .mb-5;
  @extend .img-fluid;
}

.article-topics {
  font-size: .9rem;
  font-style: italic;

}
.article-newsletter-block {
  @extend .mt-5;
  @extend .p-3;
  @extend .bg-gray-5;
  border-left: 3px solid $purple;
  p {
    font-size: .9rem;
  }
  .newsletter-subscribe {
    @extend .form-inline;
    label {
      @extend .sr-only;
    }
    input[type=text] {
      @extend .form-control;
      @extend .form-control-sm;
      @extend .mr-sm-2;
      @extend .w-100;
      font-size: .75rem;
    }
    button {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-tertiary;
      font-size: .75rem;
    }
  }
}

.sidebar {
  @extend .col-sm-12;
  @extend .col-md-3;
  @extend .offset-md-1;
  @extend .mt-5;

  .book-callout {
    p {
      margin-bottom: 0;
      padding-bottom: .5rem;
      font-size: .85rem;
    }
    a {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-primary;
    }
    .subtle {
      font-size: .65rem;
      color: $gray-60;
    }
  }

  .sidebar-search {
    @extend .form-inline;
    @extend .my-5;
    padding: 2rem 0;
    border-top: 1px solid $gray-10;
    border-bottom: 1px solid $gray-10;

    label {
      @extend .sr-only;
    }
    input[type=text] {
      @extend .form-control;
      @extend .form-control-sm;
      @extend .mr-sm-2;
      @extend .w-100;
      font-size: .75rem;
    }
    button {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-outline-secondary;
      font-size: .75rem;
    }
  }

  ul {
    margin-bottom: 2rem;
    padding-left: 1rem;
    li {
      margin: .25rem 0;
      padding: 0;
      font-size: .85rem;
      a {
        color: $gray-90;
        &:hover {
          color: $pink-dark;
          text-decoration: underline;
        }
      }
    }
  }

}
