// Colors

.nl-docs {

  .docs-content {
    @extend .col-sm-12;
    @extend .col-md-9;
    &>hr {
      margin-top: 5rem;
      border: 0;
      border-top: 1px solid $gray-20;
    }
  }
  .docs-subnav {
    @extend .col-sm-12;
    @extend .col-3;
  }

  .color-demo {
    @extend .align-bottom;
    width: 100%;
    min-height: 9rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid $gray-20;
  }

  code {
    @extend .bg-gray-5;
    padding: 0.1rem 0.5rem;
    color: #e51937;
    display: inline-block;
    border-radius: 4px;
  }

  footer {
    p {
      margin: 0;
      padding: 0;
      font-size: 0.85rem;
    }
  }
  .btn {
    @extend .my-1;
  }

}
