.form-group {
  font-family: $font-family-headings;
  font-weight: 600;
  color: $gray-80;
}
.form-group label {
  font-weight: 600;
}


/**
 * Overrides default HubSpot form styles.
 */

.hs-button {
  @extend .btn;

  &.primary {
    @extend .btn-primary;
  }
  &.large {
    @extend .btn-lg;
  }

}

.hs-input {
  @extend .form-control;
}

.hs-form-field, .hs-submit {
  @extend .form-group;
}

.hs-form-field label span {
  @extend .form-group;
}
.hs-form-required {
  padding-left: .25rem;
  font-size: .85rem;
  color: $pink;

}
