.masthead, .masthead-image {
  h1 {
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.15;
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }
  }

  a {
    @extend .btn;
    @extend .btn-primary;
  }

  @include media-breakpoint-up(md) {
    p {
      font-size: 1.5rem;
    }
  }
}

.masthead-image {
  @include media-breakpoint-up(md) {
    padding: 3rem;
  }

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .row {
    background-color: rgba(255,255,255,.8);
  }

  .masthead-content {
    padding: 1rem 0;
    @include media-breakpoint-up(md) {
      padding: 3rem;
    }
  }
}

h1 {
  @include media-breakpoint-down(md) {
    font-size:2.5rem;
  }
}

.pre-text {
  color: $pink;
  font-size: 1rem;
  @include media-breakpoint-up(md) {
    font-size: 2rem !important;
  }
}



.masthead-image.home-page {
  background-position: top center;


}
