.testimonial {
  @extend .container;

  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  text-align: center;
  background-color: $gray-5;
  border-top: 1px solid $yellow-light;
  border-bottom: 1px solid $yellow-light;
  blockquote {
    margin: auto;
    p {
      font-size: 1.25rem;
      color: $gray-80;
    }
    cite {
      font-size: .85rem;
      color: $gray-70;
    }
  }
}
