.topic-container {
  @extend .container;
  margin-top: 5rem;
  margin-bottom: 5rem;

  .topic-image {
    @extend .col;
    min-height: 10rem;
    background-size: cover;
    background-position: center;
  }
  .topic-content {
    @extend .col;
    padding: 5rem;
  }
  .related-actions a {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-outline-primary;
    margin-bottom: .5rem;
  }

  &:nth-child(2n) .row {
      flex-direction: row-reverse;
  }
}
